:root {
  --BLACK-500: #1A1D23;
  --GRAY-400: #F8F8F8;
  --GRAY-500: #D7D7D7;
  --PINK-500: #FF57B2;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  flex: 1;
  background-color: var(--BLACK-500);
}

h2, p {
  font-family: 'Inter', sans-serif;
}

a, button {
  cursor: pointer;
}
